{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Театрон-beta</title>
  <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/главная.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="image/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <nav>
      <div class = "header">
        <div>
          <a href="{% url 'index' %}">
            <img class = "theatron-logo" src="{% static 'main/img/logo 1.png' %}" >
          </a>
        </div>
        <div class = "poster">
          <a href="{% url 'affiche' %}">Афиша</a>
        </div>
        <div class = "info">
          <a href="{% url 'about' %}">О нас</a>
        </div>
        <div class = "news">
          <a href="">Новости</a>
        </div>
        <div class = "troupe">
          <a href="{% url 'theatre_troupe' %}">Труппа</a>
        </div>
        <div class = "contacts">
          <a href="">Контакты</a>
        </div>
      </div>
    </nav>
  </header>
  <main>

    {% if news %}
      {% for el in news %}
        {% if el.logo%}
          <img class="slider1" src="{{ el.logo.url }}">
        {% endif %}
      {% endfor %}
    {% else %}
      <h3> Здесь будут ваши новости </h3>
    {% endif %}
    <div class = "teatron-inst">
      @teatron Instagram
    </div>

    <div class = "image-poster-container">
      <div class = "image-poster-div">
        <img class = "image-poster" src="{% static 'main/img/image1.png' %}">
      </div>
      <div class = "image-poster-div">
        <img class = "image-poster" src="{% static 'main/img/image2.png' %}">
      </div>
      <div class = "image-poster-div">
        <img class = "image-poster" src="{% static 'main/img/image3.png' %}">
      </div>
      <div class = "image-poster-div">
        <img class = "image-poster" src="{% static 'main/img/image4.png' %}">
      </div>
    </div>

    <div class = "slider-div">
      <div class = "slider-name">
        <div class = "slider-left-symbol">
          &#60;
        </div>
        <div class = "slider-middle-symbol">
          БЛИЖАЙШИЕ СПЕКТАКЛИ
        </div>
        <div class = "slider-right-symbol">
          &#62;
        </div>
      </div>
    </div>

    <div class = "slider-container">
    {% if plays %}
      {% for el in plays %}<div class = "slider2">
        <div class = "slider-time">
          {{ el.date }}
        </div>
        <div class = "image-slider-div">
          <img class = "image-slider" src="{{ el.logo.url }}">
        </div>
        <div class = "slider-info">
          {{ el.title }}
          {{ el.age_limit }}+
        </div>
        <button class = "button-slider">
          ПОДРОБНЕЕ
        </button>
      </div>{% endfor %}
    {% else %}
      <h3> Здесь будут ваши Спектакли </h3>
    {% endif %}
    </div>

    <div class = "header-maps">
      Найди нас на карте
    </div>
    <div class = "map">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5597c877c860262224b34087d22e0749367232692704b48c94f406b09da39811&amp;source=constructor" width="800" height="300" frameborder="0"></iframe>
    </div>

  </main>
  <footer>
    <div class = "footer">
      <div class = "footer-name">
        <img class = "photo-footer" src="{% static 'main/img/logo 1.png' %}">
        <p>&copy;Малый драматический театр &#171;Театрон&#187;</p>
        <p> Адрес: г. Екатеринбург, ул. Карла Либкиехта, 13/пр. Ленина 38-а</p>
        <p>Тел: 8-(343) 371-43-86, 371-55-61, 8-919-367-1008</p>
        <p> Политика конфидециальности</p>
        <p>Пользовательское соглашение</p>
      </div>
    </div>
  </footer>
</body>
</html>