html{
  background-color: black ;
}

main{
  margin: 0;
  padding: 0;
}

.info-heading{
  font-family: Roboto;
  color:#DBBA5A;
  font-size: 2vw;
  margin-top: 3vw;
  text-align: center;
}

.info-text{
  margin-top: 3vw;
  text-align: left;
  font-family: Roboto;
  color:#DBBA5A;
  font-size: 1.5vw;
  line-height: 3.5vw;
  text-align: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

.button-div{
display: block;
margin-left: 85vw;
margin-top: 4vw;
}

.button{
  font-size: 1vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-right: 2.3vw;
  padding-left: 2.3vw;
  color:#DBBA5A;
  font-weight: bold;
  background-color: black;
  border-color: #DBBA5A;
  font-family: Roboto;
  border-style: solid;
  border-radius: 2vw;
  border-width: 0.2vw;
  margin-bottom: 2vw; 
}

.button:hover{
  transition: 0.2s;
  background-color: rgb(98, 78, 170);
  cursor: pointer;
  background-color: #1C8A8A;
  border-color: #1C8A8A;
}

.button:active{
  opacity: 0.75;
  transition: 0.2s;
}

.personal-grid{
  margin-top:2vw;
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
}

.personal {
  flex: 1;
  flex-shrink: 1;
  margin-left: 2vw;
  margin-right: 2vw;
}


.personal-name{
  color: #DBBA5A;
  font-family: Roboto;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 2vw;
}

.photo-logo{
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 10vw;
  border-radius: 2vw;
}

.personal-name:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s;
}

.personal-name:active{
  opacity: 0.7;
  transition: 0.1s;
}