
main{
  background-color: rgb(98, 90, 128);
  margin: 0;
  padding: 0;
}

.info-heading{
  font-family: Roboto;
  color:#DBBA5A;
  font-size: 24px;
  padding-left: 70px;
  padding-top: 20px;
  text-align: center;
}

.info-text{
  margin-top: 40px;
  text-align: left;
  font-family: Roboto;
  padding: 0;
  color:#DBBA5A;
  font-size: 22px;
  margin-left: 50px;
  line-height: 37px;
  margin-right: 40px;
}

.button-div{
display: block;
margin-left: 1230px;
margin-top: 50px;
padding: 20px;
}

.button{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 48px;
  padding-left: 48px;
  color:#DBBA5A;
  font-weight: bold;
  background-color: rgb(98, 90, 128);
  font-family: Roboto;
  border-color: rgb(98, 90, 128);
  border-style: solid;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px; 
}

.button:hover{
  transition: 0.2s;
  background-color: rgb(98, 78, 170);
  cursor: pointer;
}

.button:active{
  opacity: 0.75;
  transition: 0.2s;
}

.personal-grid{
  margin-top:60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 50px;
  margin-left: 50px;
  row-gap: 60px;
  column-gap: 90px;
  padding-bottom:60px;
}

.personal{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(57, 57, 57);
  background-color: rgb(103, 103, 103);
}

.personal-name{
  color: #DBBA5A;
  font-family: Roboto;
  font-size: 24px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.photo-logo{
  width: 250px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 75px;
}

.personal-button{
  margin-bottom: 30px ;
  margin-left: 120px;
  background-color: rgb(96, 69, 196);
  color: #DBBA5A;
  border-color: rgb(86, 86, 86);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-width: 1px;
  border-style: solid;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;  
}

.personal-button:hover{
  cursor: pointer;
  opacity: 0.75;
  transition: 0.2s;
}

.personal-button:active{
  opacity: 0.5;
  transition: 0.1s;
}