footer{
  background-color: black;

}

.photo-footer{
  width: 8vw;
}

.footer{
  margin-left: 8%;
  padding-top: 2%;
}

.footer-name{
  font-family: Roboto;
  color:#DBBA5A;
  font-size: 1.2vw;
  padding-top: 1%;
  padding-bottom: 1%;
}


