footer{
  background-color: rgb(45, 26, 1);
  transition: 1s
}

.photo-footer{
  width: 8vw;
}

.footer{
  margin-left: 8%;
  padding-top: 2%;
}

.footer-name{
  font-family: Roboto;
  color: antiquewhite;
  font-size: 1.2vw;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer:hover{
  background-color: rgb(67, 38, 0);
}

