body{
  margin:0;
  padding:0;
}

.header{
  font-family: Roboto;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  border-radius: 5vw;
  height: 4.5vw;
  display: flex;
  flex-direction: row;
  background-color: rgb(45, 26, 1);
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  transition: 0.5s;
}

.header:hover{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  border-radius: 0;
}

.theatron-logo{
  width: 12vw;
  background-color: rgb(45, 26, 1);
  margin-left: 0vw;
}

a {
  color:antiquewhite;
  text-decoration: none;
}


.poster{
  font-size: 1.4vw;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  padding-bottom: 0.6vw;
  align-items: center;
}

.info{
  font-size: 1.4vw;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  padding-bottom: 0.6vw;
}

.news{
  font-size: 1.4vw;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  padding-bottom: 0.6vw;
}

.contacts{
  font-size: 1.4vw;
  margin-left: 3.5vw;
  padding-bottom: 0.6vw;
}

.poster:hover{
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.info:hover{
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.news:hover{
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.contacts:hover{
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.poster:active{
  opacity: 0.5;
  transition: 0.2s;
}

.info:active{
  opacity: 0.5;
  transition: 0.2s;
}

.news:active{
  opacity: 0.5;
  transition: 0.2s;
}

.contacts:active{
  opacity: 0.5;
  transition: 0.2s;
}